<div class="row">
    <aside class="col-md-4">
        <%= render 'shared/user_profile' %>
    </aside>

    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.following_relationships.any? %>
            <h3>Followings(
                <%= @user.following_relationships.count %>
                )</h3>
                
            <div class="row following">
                <%= render @following_users %>
            </div>
        <% end %>
    </div>
</div>